<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/styles/portifolioPC.css">
    <title>Portfólio - NobreDev</title>
</head>
<body>
    <div class="background-container">
        <section>
            <h1>Portfólio</h1>
            <br>
            <p>Confira alguns dos nossos projetos mais recentes:</p>
            <div class="project-list">
                <div class="project-card">
                    <h2>Projeto 1</h2>
                    <p>Descrição do projeto 1.</p>
                </div>
                <div class="project-card">
                    <h2>Projeto 2</h2>
                    <p>Descrição do projeto 2.</p>
                </div>
                <div class="project-card">
                    <h2>Projeto 3</h2>
                    <p>Descrição do projeto 3.</p>
                </div>
            </div>
            <a href="/index.html" id="button6">Retornar</a>
        </section>
    </div>
</body>
</html>