<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/styles/portifolioPC.css">
    <title>Portfólio - NobreDev</title>
</head>
<body>
    <div class="background-container">
        <section>
            <h1>Portfólio</h1>
            <br>
            <p>Confira alguns dos nossos projetos mais recentes:</p>
            <div class="project-list">
                <video width="320" height="240" controls>
                    <source src="/Imagens/WhatsApp Video 2025-05-10 at 21.19.17.mp4" type="video/mp4">
                </video>
                <video width="320" height="240" controls>
                    <source src="/Imagens/WhatsApp Video 2025-05-10 at 21.18.16 (1).mp4" type="video/mp4">
            </div>
            <a href="/index.html" id="button6">Retornar</a>
        </section>
    </div>
</body>
</html>