<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/styles/portifolioApp.css">
    <title>Portfólio - NobreDev</title>
</head>
<body>
    <div class="background-container">
        <section>
            <h1>Portfólio</h1>
            <br>
            <p>Confira alguns dos nossos projetos mais recentes:</p>
            <div class="project-list">
                <div class="project-card">
                    <h2>SUP-Customiza</h2>
                    <video width="320" height="240" controls>
                        <source src="/Imagens/WhatsApp Video 2025-04-27 at 02.46.55.mp4" type="video/mp4">
                    </video>
                    <p>Sistema de abertura de chamados internos em operações da empresa.
                        A SUP-Customiza é uma plataforma desenvolvida para facilitar a comunicação e o gerenciamento de tarefas dentro da empresa. Com um design intuitivo e funcionalidades personalizáveis, ela permite que os colaboradores abram chamados de forma rápida e eficiente, garantindo que as demandas sejam atendidas de maneira ágil e organizada.
                    </p>
                    <span>EM DESENVOLVIMENTO</span>

                </div>
                <div class="project-card">
                    <h2>Projeto 2</h2>
                    <p>Descrição do projeto 2.</p>
                </div>
                <div class="project-card">
                    <h2>Projeto 3</h2>
                    <p>Descrição do projeto 3.</p>
                </div>
            </div>
            <a href="/index.html" id="button6">Retornar</a>
        </section>
    </div>
</body>

</html>